# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Certificates
certs/

#hostname at src/config/hostname
# this file is referenced for frontend and server string usage of the hostname
# In later editions, will be configured by a config interface
src/config/hostname.js

#My features todo file 
futureFeatures.md

mailerContent/*
certs/*